.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  position:absolute;
  bottom: 0px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #F2EDD7;
  display: inline-block;
  position: fixed;
}

.bg-img{
  background-image: url(../src/Images/Image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 650px;

}
.text-color{
  text-align: center;
  color: red;
  
  }

 .home-page{
   background-image: url(../src/Images/Image2.jpg);
   background-size: 100% 100%;
   height: 600px;
   background-repeat: no-repeat;
  }


  .table-prop{
    margin: 10px;
    width: 350px;
    padding: 10px;
  }

  .button-position{
    align-items: center;
  }

  .text-colour{
    text-align: center;
    color: rgb(19, 45, 68);
    font-family: 'Times New Roman', Times, serif;
  }

  .password-color{
    color:rgb(153, 3, 3);
  }



  .form-formatt{
    background-color: transparent;
    border: 0;
  }

  .welcome-text{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: #413055 ;
  }

  .nav-block{
    display: block;
  }

  .link-color{
    color: rgb(18, 39, 18);
  }

  .contact-group{
    background-size: 100% 100%;
    height: 600px;
    background-repeat: no-repeat;

  }

  .admin-op{
    background-color: transparent;
    text-align: center;
    padding: 20px;

  }
  .txt-shadow{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    text-shadow: 2px 2px 5px black;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .vl {
    border-left: 6px solid green;
    height: 200px;
  }

  .table-props{
    margin: 10px;
    width: 210px;
    padding: 10px;
  }