.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-block{
  width: 100%;
}


.footer{
  position:absolute;
  bottom: 0px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #F2EDD7;
  position: fixed;
}

.bg-img{
  background-image: url(../src/Images/Image1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 590px;
  width: 100%;
}

.text-color{
text-align: center;
color: rgb(225, 235, 241);
font-family: 'Times New Roman', Times, serif;
}

.table-prop{
  margin: 10px;
  width: 350px;
  padding-right: 20px;

}

.password-color{
  color:rgba(238, 196, 196, 0.699) ;
}

.box-format{
  
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  background-color: transparent;
  border: 0px;
}

.main-View{
  width: 100%;
}

.home-page{
  background-image: url(../src/Images/Image3.jpg);
  background-size: 100% 100%;
  height: 580px;
  background-repeat: no-repeat;
 }

 .cust-bag{
  background-image: url(../src/Images/Image3.jpg);
  background-size: 100% 100%;
  height: 590px;
  background-repeat: no-repeat;
 }



 .welcome-text{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  color: #413055 ;
}
.txt-shadow{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  text-shadow: 2px 2px 5px black;
}

.contact-group{
 font-family: 'Times New Roman', Times, serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.cust-op{
  background-color: transparent;
  text-align: center;
  padding: 20px;

}

.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}